<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-2 boxModel">
          <div class="circle">
            <img class="img-fluid myImg" src="assets/img/1.png" alt="">

          </div>
          <h5 class="text-center mt-4 add-change-img btn btn-success" (click)="lgModal.show()">Add / Change image</h5>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Bootstrap large modal-->
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-white bg-danger">
        <input type="file" (change)="fileChangeEvent($event)" />
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Large modal</h4>
        <button type="button" class="btn-close close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 mt-5 d-flex justify-content-center" *ngIf="imageChangedEvent">
            <div class="btn-group"role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-primary" (click)="rotate()" (ngClass)="rotateStatus ? 'active': ''">Rotate</button>
              <button type="button" class="btn btn-outline-primary" (click)="flipX()" (ngClass)="flipHorizontalStatus ? 'active': ''">FlipX</button>
              <button type="button" class="btn btn-outline-primary" (click)="flipY()" (ngClass)="flipVerticalStatus ? 'active': ''">FlipY</button>
              <button type="button" class="btn btn-outline-danger"  (click)="discardChanges()" (ngClass)="discardStatus ? 'active': ''">Discard</button>
            </div>
          </div>
          <div class="col-md-12">
            <image-cropper 
            [imageChangedEvent]="imageChangedEvent" 
            [maintainAspectRatio]="true" 
            [aspectRatio]="4 / 3"
              format="png" 
            (imageCropped)="imageCropped($event)" 
            (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()" 
            (loadImageFailed)="loadImageFailed()"
            [transform]="transform"
            >
            </image-cropper>
          </div>
          <div class="col-md-12 mt-5 d-flex justify-content-center">
            <img [src]="croppedImage" class="img-fluid" *ngIf="imageChangedEvent"/>
          </div>
          <div class="col-md-12 mt-5 d-flex justify-content-center">
            <button type="button" class="btn btn-danger" (click)="saveImage()" *ngIf="imageChangedEvent">Crop Image</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>